
.messages {
    display: flex;
    flex-direction: column;
}

.message {
    margin: 10px 0;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    max-width: 80%;
    text-align: left;
    word-wrap: break-word;
}

.received {
    background-color: #e5e5ea;
    align-self: flex-start;
}

.sent {
    background-color: #0084ff;
    color: #fff;
    align-self: flex-end;
    margin-right: 20px;
}

.canDrag {
    --wails-draggable: drag;
}

.cantDrag {
    --wails-draggable: no-drag;
}

html {
    height: 100%;
    overflow: hidden;
}

.cursor::before {
    content: "";
    width: 2px;
    height: 20px;
    background-color: #000;
    position: absolute;
    animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}