
.messages {
    display: flex;
    flex-direction: column;
}

.message {
    margin: 10px 0;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    max-width: 80%;
    text-align: left;
    word-wrap: break-word;
}

.received {
    background-color: #e5e5ea;
    align-self: flex-start;
    color: #2c2c2c;
}

.sent {
    background-color: #0084ff;
    color: #fff;
    align-self: flex-end;
    margin-right: 20px;
}

.canDrag {
    --wails-draggable: drag;
}

.cantDrag {
    --wails-draggable: no-drag;
}

html {
    height: 100%;
    overflow: hidden;
}